Repository The-Skyy-Rose-Collection-LLC/DevSkyy: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, api-docs-check, fashion-compliance-check, performance-check, migration-check, security-config-check, logging-check, fashion-data-validation, rate-limiting-check, monitoring-check

license-check:
  name: License Header Check
  entry: python scripts/check_license_headers.py
  language: python
  pass_filenames: true

api-docs-check:
  name: API Documentation Check
  entry: python scripts/check_api_docs.py
  language: python
  pass_filenames: true

fashion-compliance-check:
  name: Fashion Industry Compliance Check
  entry: python scripts/check_fashion_compliance.py
  language: python
  pass_filenames: true

performance-check:
  name: Performance Benchmark Check
  entry: python scripts/check_performance_benchmarks.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/check_migrations.py
  language: python
  pass_filenames: true

security-config-check:
  name: Security Configuration Check
  entry: python scripts/check_security_config.py
  language: python
  pass_filenames: true

logging-check:
  name: Enterprise Logging Standards Check
  entry: python scripts/check_logging_standards.py
  language: python
  pass_filenames: true

fashion-data-validation:
  name: Fashion Data Validation
  entry: python scripts/validate_fashion_data.py
  language: python
  pass_filenames: true

rate-limiting-check:
  name: API Rate Limiting Check
  entry: python scripts/check_rate_limiting.py
  language: python
  pass_filenames: true

monitoring-check:
  name: Monitoring Configuration Check
  entry: python scripts/check_monitoring_config.py
  language: python
  pass_filenames: true

✨ Enterprise Refactor: Security, Syntax Fixes, CI/CD
  .env.example
  .github/workflows/ci-cd.yml
  .gitignore
  SECURITY_CONFIGURATION_GUIDE.md
  cleanup.sh
  config.py
  init_database.py
  kubernetes/production/deployment.yaml
Due: license-check, performance-check, logging-check

📚 Add Enterprise Documentation & MCP Configuration
  ENTERPRISE_REFACTOR_REPORT.md
  MCP_CONFIGURATION_GUIDE.md
  setup_mcp.sh
Due: none

🗑️ Remove CI workflow (will add via CLI with proper permissions)
  .github/workflows/ci-cd.yml
Due: none

🧹 Clean up temporary fixer scripts
  enterprise_syntax_fixer.py
  ultimate_fix.py
Due: license-check, performance-check, logging-check

🧹 Remove temporary setup script
  setup_mcp.sh
Due: none

📚 Add GitHub Setup Guide
  GITHUB_SETUP_GUIDE.md
Due: none

🔧 Fix Markdown linting errors in GITHUB_SETUP_GUIDE.md
  GITHUB_SETUP_GUIDE.md
Due: none

Add Truth Protocol branch cleanup audit and automation script
  BRANCH_CLEANUP_REPORT.md
  cleanup-non-compliant-branches.sh
Due: none

fix: Restore clean advanced_code_generation_agent.py from git history
  agent/modules/backend/advanced_code_generation_agent.py
Due: license-check, performance-check, logging-check

fix(deps): Update vulnerable dependencies to secure versions
  requirements.txt
Due: none

docs: Add comprehensive HuggingFace best practices guide for DevSkyy
  .gitignore
  docs/HUGGINGFACE_BEST_PRACTICES.md
Due: none

Update docs/HUGGINGFACE_BEST_PRACTICES.md
  docs/HUGGINGFACE_BEST_PRACTICES.md
Due: none

Add Celery async task processing integration
  fashion_ai_bounded_autonomy/CELERY_INTEGRATION.md
  fashion_ai_bounded_autonomy/FILE_REFERENCES.md
  fashion_ai_bounded_autonomy/__init__.py
  fashion_ai_bounded_autonomy/approval_system.py
  fashion_ai_bounded_autonomy/celery_app.py
  fashion_ai_bounded_autonomy/start_celery_worker.sh
  fashion_ai_bounded_autonomy/stop_celery_worker.sh
  fashion_ai_bounded_autonomy/tasks.py
Due: license-check, performance-check, logging-check

feat: Implement enterprise-level verified compliant practices
  api/v1/agents.py
  api/v1/dashboard.py
  api/v1/luxury_fashion_automation.py
  config/README.md
  config/__init__.py
  config/unified_config.py
  core/__init__.py
  core/error_ledger.py
  main.py
Due: license-check, api-docs-check, performance-check, security-config-check, logging-check, rate-limiting-check

feat: Add comprehensive exception hierarchy for specific error handling
  core/exceptions.py
Due: license-check, performance-check, logging-check

refactor: Apply specific exception types and prepare httpx migration
  database.py
Due: license-check, performance-check, logging-check

fix: Correct escaped quotes in database.py exception handlers
  database.py
Due: license-check, performance-check, logging-check

Potential fix for pull request finding 'Unused import'
  tests/test_gitignore_validation.py
Due: license-check, performance-check, logging-check

docs: Add HuggingFace best practices with correct CLIP implementation
  docs/HUGGINGFACE_BEST_PRACTICES.md
Due: none

docs: Add correct SDXL quantization patterns (fix BitsAndBytesConfig usage)
  docs/HUGGINGFACE_BEST_PRACTICES.md
Due: none

docs: Add comprehensive session memory (GIGA REMEMBER)
  SESSION_MEMORY.md
Due: none

fix: Update security packages and replace bare except statements
  api/training_data_interface.py
  main.py
  requirements.txt
Due: license-check, api-docs-check, performance-check, logging-check, rate-limiting-check

feat: Complete production readiness - placeholder removal, security updates, production config
  .env.production.example
  PRODUCTION_CHECKLIST.md
  agent/modules/backend/brand_model_trainer.py
  agent/modules/backend/cache_manager.py
  agent/modules/backend/fixer.py
  agent/modules/backend/fixer_v2.py
  agent/modules/backend/self_learning_system.py
Due: license-check, performance-check, logging-check

feat: Add comprehensive deployment automation and verification tools
  DEPLOYMENT_READY_SUMMARY.md
  DEPLOYMENT_RUNBOOK.md
  check_imports.py
  deploy.sh
  docker-compose.production.yml
  health_check.sh
  verify_imports.py
Due: license-check, performance-check, logging-check

feat: Add enterprise agent routing system with MCP efficiency patterns
  AGENT_SYSTEM_VISUAL_DOCUMENTATION.md
  WORK_VERIFICATION_AUDIT.md
  agents/__init__.py
  agents/loader.py
  agents/router.py
  config/agents/fixer_v2.json
  config/agents/scanner_v2.json
  config/agents/self_learning_system.json
  tests/agents/conftest.py
Due: license-check, performance-check, security-config-check, logging-check

feat: Integrate AgentLightning for comprehensive agent observability
  AGENTLIGHTNING_INTEGRATION_COMPLETE.md
  agents/router.py
  core/agentlightning_integration.py
  requirements.txt
Due: license-check, performance-check, logging-check

fix: Update emit_reward calls to match AgentLightning API signature
  core/agentlightning_integration.py
Due: license-check, performance-check, logging-check

docs: Add comprehensive AgentLightning verification report
  AGENTLIGHTNING_VERIFICATION_REPORT.md
Due: none

docs: Add comprehensive file system audit report
  FILE_SYSTEM_AUDIT_REPORT.md
Due: none

docs: Add comprehensive production readiness verification
  PRODUCTION_READINESS_VERIFICATION.md
Due: none

feat: Enhance Flake8 configuration with comprehensive settings
  .flake8
  .pre-commit-config.yaml
Due: none

Path conditions:
  license-check: any of: \.py$
  api-docs-check: any of: ^api/.*\.py$
  fashion-compliance-check: any of: ^fashion/.*\.py$
  performance-check: any of: \.py$
  migration-check: any of: ^migrations/.*\.py$
  security-config-check: any of: ^(config|settings)/.*\.(py|yaml|yml|json)$
  logging-check: any of: \.py$
  fashion-data-validation: any of: ^fashion/data/.*\.(json|yaml|yml)$
  rate-limiting-check: any of: ^api/.*\.py$
  monitoring-check: any of: ^(monitoring|observability)/.*\.(py|yaml|yml)$
